<aside class="left_aside" ng-show="isLogged()">
    To publish a new
    ad, please login.
    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
</aside>

<aside class="left_aside" ng-show="!isLogged()">
    <h4>{{user.name}}</h4>
    <a href="#/">Home</a>
    <a href="#/user/ads">My Ads</a>
    <a href="#/user/ads/publish">Publish New Ad</a>
    <a href="#/user/profile">Edit Profile</a>
    <a ng-click="logout()">logout</a>
</aside>

<section id="main_section">
    <div>
        <ul>
            <li ng-repeat="ad in data.ads">
                <h2 class="ad-title"><span class="ad-title-span">{{ad.title}}</span><span>{{ad.date | date:'dd-MMM-yyyy'}}</span></h2>
                <div>
                    <img src="http://www.goodtile.co.kr/_skin/basic/images/icon_no_images.jpg" ng-src="{{ad.imageDataUrl}}" class="ad-image" />
                    <div class="ad-txt-section">
                        <p class="ad_txt bg-white">{{ad.text}}</p>
                        <p class="p-clear"><span>Name</span><span class="ad-inner-span bg-white">{{ad.ownerName}}</span></p>
                        <p class="p-clear"><span>Email</span><span class="ad-inner-span bg-white">{{ad.ownerEmail}}</span></p>
                        <p class="p-clear"><span>Phone</span><span class="ad-inner-span bg-white">{{ad.ownerPhone}}</span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="page-navigation">
        <ul>
            <li ng-repeat="btn in pageButtonsData">
                <a ng-click="getPage(btn.value)">{{btn.value}}</a>
            </li>
        </ul>
    </div>
</section>
<aside id="right_aside">
    <div>
        <a ng-click="clearFilters()">Clear Filters</a>
        <hr />
        <h2>Categories</h2>
        <hr />
        <ul>
            <li ng-repeat="cat in categories">
                <a ng-click="applyCategoryFilter(cat.id)">{{cat.name}}</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Towns</h2>
        <hr />
        <ul>
            <li ng-repeat="town in towns">
                <a ng-click="applyTownFilter(town.id)">{{town.name}}</a>
            </li>
        </ul>
    </div>
</aside>