<aside class="left_aside">
    To publish a new
    ad, please login.
    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
</aside>

<section id="main_section">
    <h2>Login</h2>
    <hr />
    <label for="login-view-username">Username:</label>
    <input type="text" id="login-view-username" ng-model="username"/>
    <label for="login-view-password" >Password:</label>
    <input type="text" id="login-view-password" ng-model="password"/>
    <a ng-click="login(username, password)">Login</a>
    <a href="#/register">Register here</a>
</section>