<aside id="left_aside">
    To publish a new
    ad, please login.
    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
</aside>

<section id="main_section" ng-controller="LoginController">
    <h2>Login</h2>
    <hr />
    <label for="login-view-username">Username:</label>
    <input type="text" id="login-view-username" />
    <label for="login-view-password">Password:</label>
    <input type="text" id="login-view-password" />
    <a ng-click="login()">Login</a>
    <a href="#/register">Register here</a>
</section>