<aside class="left_aside">
    To publish a new
    ad, please login.
    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
</aside>

<section id="main_section">
    <h2>Login Panel</h2>
    <form>
        <hr />
        <div>
            <label for="login-view-username">Username:</label>
            <input type="text" id="login-view-username" ng-model="username" />
        </div><div>
            <label for="login-view-password">Password:</label>
            <input type="password" id="login-view-password" ng-model="password" />
        </div>
        <div>
            <input type="submit" ng-click="login(username, password)" value="Login" />
            <a href="#/register">Register here</a>
        </div>
    </form>
</section>