<aside id="left_aside">
    To publish a new
    ad, please login.
    <a href="#">Login</a>
    <a href="#">Register</a>
</aside>

<section id="main_section">
    <label for="register-view-username">Username:</label>
    <input type="text" id="register-view-username" />

    <label for="register-view-password">Password:</label>
    <input type="text" id="register-view-password" />

    <label for="register-view-repeat-password">Repeat password:</label>
    <input type="text" id="register-view-repeat-password" />

    <label for="register-view-name">Name:</label>
    <input type="text" id="register-view-name" />

    <label for="register-view-email">Email:</label>
    <input type="text" id="register-view-email" />

    <label for="register-view-phone">Phone:</label>
    <input type="text" id="register-view-phone" />

    <label for="register-view-towns">Town:</label>
    <select id="register-view-towns">
        <option>Sofia</option>
        <option>Plovdiv</option>
        <option>Varna</option>
        <option>Burgas</option>
        <option>Pleven</option>
    </select>

    <a href="#">Register</a>
    <a href="#">Login here</a>
</section>