<aside class="left_aside">
    To publish a new
    ad, please login.
    <a href="#/login">Login</a>
    <a href="#/register">Register</a>
</aside>

<section id="main_section">
    <h2>Register Panel</h2>
    <label for="register-view-username">Username:</label>
    <input type="text" id="register-view-username" ng-model="username"/>

    <label for="register-view-password">Password:</label>
    <input type="text" id="register-view-password" ng-model="password"/>

    <label for="register-view-repeat-password">Repeat password:</label>
    <input type="text" id="register-view-repeat-password" ng-model="repeat"/>

    <label for="register-view-name">Name:</label>
    <input type="text" id="register-view-name" ng-model="name"/>

    <label for="register-view-email">Email:</label>
    <input type="text" id="register-view-email" ng-model="mail"/>

    <label for="register-view-phone">Phone:</label>
    <input type="text" id="register-view-phone" ng-model="phone"/>

    <label for="register-view-towns">Town:</label>
    <select id="register-view-towns" ng-model="town">
        <option value="null">None</option>
        <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
    </select>

    <a ng-click="register(username, password, repeat, name, mail, phone, town)">Register</a>
    <a href="#/login">Login here</a>
</section>