<header ng-controller="HeaderController">
    <h1><a href="#/home"><span>Ads</span><span id="header-right"></span></a><a ng-click="logout()">logout</a></h1>
</header>

<aside class="left_aside">
    <a href="#/">Home</a>
    <a href="#/user/ads">My Ads</a>
    <a href="#/user/ads/publish">Publish New Ad</a>
    <a href="#/user/profile">Edit Profile</a>
</aside>

<section id="main_section">
    <ul>
        <li ng-repeat="ad in data.ads">
            <h2 class="ad-title"><span class="ad-title-span">{{ad.title}}</span><span>{{ad.date | date:'dd-MMM-yyyy'}}</span></h2>
            <div>
                <img src="http://www.goodtile.co.kr/_skin/basic/images/icon_no_images.jpg" ng-src="{{ad.imageDataUrl}}" class="ad-image" />
                <div class="ad-txt-section">
                    <p class="ad_txt bg-white">{{ad.text}}</p>
                    <p class="p-clear"><span>Name</span><span class="ad-inner-span bg-white">{{ad.ownerName}}</span></p>
                    <p class="p-clear"><span>Email</span><span class="ad-inner-span bg-white">{{ad.ownerEmail}}</span></p>
                    <p class="p-clear"><span>Phone</span><span class="ad-inner-span bg-white">{{ad.ownerPhone}}</span></p>
                </div>
            </div>
        </li>
    </ul>
</section>
<aside id="right_aside">
    <div>
        <h2>Categories</h2>
        <hr />
        <ul></ul>
    </div>
    <div>
        <h2>Towns</h2>
        <hr />
        <ul></ul>
    </div>
</aside>