<aside class="left_aside">
    <h4>{{user.name}}</h4>
    <a href="#/">Home</a>
    <a href="#/user/ads">My Ads</a>
    <a href="#/user/ads/publish">Publish New Ad</a>
    <a href="#/user/profile">Edit Profile</a>
    <a ng-click="logout()">logout</a>
</aside>

<section id="main_section">
    <ul>
        <li ng-repeat="ad in data.ads">
            <h2 class="ad-title"><span class="ad-title-span">{{ad.title}}</span><span>{{ad.date | date:'dd-MMM-yyyy'}}</span></h2>
            <div>
                <img src="http://www.goodtile.co.kr/_skin/basic/images/icon_no_images.jpg" ng-src="{{ad.imageDataUrl}}" class="ad-image" />
                <div class="ad-txt-section">
                    <p class="ad_txt bg-white">{{ad.text}}</p>
                    <p class="p-clear"><span>Name</span><span class="ad-inner-span bg-white">{{user.name}}</span></p>
                    <p class="p-clear"><span>Email</span><span class="ad-inner-span bg-white">{{user.email}}</span></p>
                    <p class="p-clear"><span>Phone</span><span class="ad-inner-span bg-white">{{user.phoneNumber}}</span></p>
                </div>
                <div>
                    <a ng-click="editBtnClicked(ad)">Edit</a>
                    <a>Delete</a>
                </div>
            </div>
        </li>
    </ul>
    <div id="edit-panel">
        <label for="edit_title">Title</label>
        <input type="text" id="edit_title" ng-model="adData.title" />
        <label for="edit_text">Text</label>
        <input type="text" id="edit_text" ng-model="adData.text" />
        <label>Change image:</label>
        <label for="tr">Yes:</label>
        <input type="radio" name="changeImg" value="true" id="tr" ng-model="adData.changeimage"/>
        <label for="fl">No:</label>
        <input type="radio" name="changeImg" value="false" id="fl" ng-model="adData.changeimage"/>
        <label for="edit_image">Image:</label>
        <input type="file" id="edit_image"
               onchange="angular.element(this).scope().fileSelected(this)" />
        <div class="image-box">
        </div>
        <label for="edit_category">Category</label>
        <select id="edit_category" ng-model="adData.categoryId">
            <option value="null">None</option>
            <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
        </select>
        <label for="edit_town">Town</label>
        <select id="edit_town" ng-model="adData.townId">
            <option value="null">None</option>
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
        <a ng-click="edit(adData)">Edit</a>
    </div>
</section>