body, section, article, header, footer, div, span, p, ul, ol, li, table, td, th, tr, img, input, button, h1 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

body {
    font-family: gabriola;
    ;
}

    body hr {
        width: 96%;
        text-align: center;
    }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #81CBF0;
}

    a:hover {
        cursor: pointer;
        color: white;
    }

header {
    background-color: white;
    height: 70px;
    text-align: left;
    padding-left: 50px;
    font-family: Verdana;
}

    header a span {
        font-size: 3em;
        font-family: Buxton Sketch;
        color: #3693CE;
    }

    header a :hover {
        color: #83CDF6;
    }

input[type="text"] {
    color: #3693CE;
}

input[type="password"] {
    color: #3693CE;
}

#upper_hr {
    margin-bottom: 50px;
}

#lower_hr {
    margin-top: 50px;
}

aside {
    display: inline-block;
    background-color: #3693CE;
    width: 260px;
}

.left_aside {
    float: left;
    margin-left: 50px;
    box-shadow: 1px 1px 1px #888888;
    font-family: Gabriola;
    font-weight: bold;
    font-size: 1.3em;
    color: #81CBF7;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
}

    .left_aside > a {
        display: block;
        text-decoration: none;
        color: #81CBF7;
    }

        .left_aside > a:hover {
            color: white;
        }

#user_name {
    margin-top: 5px;
    margin-bottom: 5px;
}

#right_aside {
    display: inline-block;
    float: right;
    margin-right: 50px;
    min-height: 230px;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #888888;
    font-family: Gabriola;
    font-weight: bold;
    font-size: 1.3em;
    color: #81CBF7;
    padding: 10px;
    border-radius: 3px;
}

    #right_aside ul {
        display: inline-block;
        padding-left: 10px;
    }

        #right_aside ul li {
            max-width: 240px;
            overflow: hidden;
        }

            #right_aside ul li a:hover {
                cursor: pointer;
                color: white;
            }

.filter_title {
    cursor: default;
    color: #7BCBFA;
    text-decoration: underline;
}

#main_section {
    display: inline-block;
    width: 600px;
    padding: 15px;
    padding-top: 0px;
    margin-left: 30px;
    min-height: 392px;
    color: #3693CE;
}

.ad_element {
    border: 2px solid #3693CE;
    margin-bottom: 30px;
    padding-bottom: 15px;
    clear: both;
    min-height: 520px;
    border-radius: 5px;
}

#user_ads_li {
    border: 1px solid #3693CE;
    margin-bottom: 30px;
    min-height: 250px;
}

.ad_btn_container {
    clear: both;
    text-align: right;
    margin-right: 30px;
}

    .ad_btn_container a {
        font-size: 1.2em;
        display: inline-block;
        height: 30px;
        width: 50px;
        padding: 0;
        text-align: center;
        border-radius: 4px;
    }

        .ad_btn_container a:hover {
            color: white;
            background: #3693CE;
        }

#main_section ul li h2 {
    margin-left: 20px;
    max-width: 580px;
    max-height: 45px;
}

    #main_section ul li h2 span {
        font-size: 1.1em;
    }

    #main_section ul li h2 .ad-title-span {
        width: 405px;
        max-width: 405px;
        max-height: 45px;
        overflow: hidden;
        display: inline-block;
        text-decoration: underline;
    }

#main_section ul li div .ad-image {
    float: left;
    width: 178px;
    height: 250px;
    margin-left: 20px;
    border: 1px solid #3693CE;
    border-radius: 3px;
}

.ad-txt-section {
    width: 345px;
    margin: 25px;
    margin-top: 0;
    float: right;
    display: inline-block;
}

#main_section ul li h2 {
    clear: both;
}

#main_section ul li div .ad_txt {
    height: 250px;
    max-height: 250px;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #3693CE;
    color: #3693CE;
    background-color: white;
    border-radius: 3px;
}

#login_form {
    border: 1px solid #3693CE;
    border-radius: 3px;
    padding: 15px;
    min-height: 360px;
}

    #login_form form {
        margin-left: 100px;
        max-width: 320px;
    }

        #login_form form input[type="submit"] {
            color: #3693CE;
            font-family: Gabriola;
            font-size: 1.3em;
            padding-left: 5px;
            padding-right: 5px;
        }

        #login_form form input[type="text"] {
            font-family: Gabriola;
            border-radius: 2px;
            box-shadow: none;
            border: 1px solid #3693CE;
            font-size: 1.2em;
        }

        #login_form form input[type="password"] {
            font-family: Gabriola;
            border-radius: 2px;
            box-shadow: none;
            border: 1px solid #3693CE;
            font-size: 1.2em;
        }

.left_fl {
    clear: both;
    float: left;
}

.right_fl {
    float: right;
}

.pass_row {
    margin-top: 10px;
}

#login_btn_container {
    margin-top: 20px;
}

#register_form {
    border: 1px solid #3693CE;
    padding: 15px;
}

    #register_form input[type="submit"] {
        font-family: Gabriola;
        font-size: 1.1em;
        color: #3693CE;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #register_form input[type="text"] {
        font-family: Gabriola;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #3693CE;
    }

    #register_form input[type="password"] {
        font-family: Gabriola;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #3693CE;
    }

#register_btn_container {
    margin-top: 25px;
}

.register_clear {
    clear: both;
}

.register_float {
    float: right;
    margin-bottom: 10px;
}

.bg-white {
    background-color: #3693CE;
    border-radius: 2px;
    color: white;
    padding: 5px;
    clear: both;
}

.p-clear {
    clear: both;
    margin-top: 20px;
}

.ad-inner-span {
    width: 285px;
    display: inline-block;
    float: right;
}

#page-navigation {
    clear: both;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

    #page-navigation ul li {
        display: inline-block;
        overflow: hidden;
        width: 20px;
    }

        #page-navigation ul li a {
            height: 100%;
            width: 100%;
            display: inline-block;
        }

            #page-navigation ul li a:hover {
                display: inline-block;
                border-radius: 3px;
                background-color: #7BCBFA;
            }

#edit-panel {
    display: none;
    position: fixed;
    top: 100px;
    min-height: 315px;
    width: 600px;
    background-color: #3693CE;
    color: white;
}

.image-box {
    float: right;
    max-width: 200px;
    min-width: 200px;
    max-height: 230px;
    min-height: 230px;
    border: 1px solid white;
    border-radius: 2px;
}

.image-box img {
    width:200px;
    height:230px;
}

    #edit-panel input[type="submit"] {
        font-family: Gabriola;
        font-size: 1.1em;
        color: #3693CE;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #edit-panel input[type="text"] {
        font-family: Gabriola;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #3693CE;
    }

    .edit_view_btn{
        font-family: Gabriola;
        font-size:1.1em;
        color: #3693CE;
    }

    #publish_ad_view{
        border: 1px solid #3693CE;
        border-radius: 3px;
        padding: 20px;
    }

    #publish_ad_view div {
        margin-bottom: 10px;
    }

    #publish_ad_view input[type="submit"]{
        font-family: Gabriola;
        color: #3693EC
    }

    #publish_ad_view input[type="text"]{
        font-family: Gabriola;
    }

    #text{
        
display: inline-block;
width: 212px;
height: 25px;
max-height: 25px;
    }

    #img_preview{
        width:200px;
        max-width: 200px;
        height: 230px;
        max-height: 230px;
        border: 1px solid #3693CE;
    }

footer {
    clear: both;
    background-color: white;
    height: 28px;
    margin-top: 30px;
    text-align: center;
}

    footer p {
        font-family: 'Comic Sans MS';
        font-weight: bold;
        font-size: 0.7em;
        color: #3092CF;
    }
